

        .silex-id-1501618659400-2 > div > div > textarea {text-align: left;
        }
        .body-initial {background-color: rgb(255, 255, 255); font-size: 16px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px; font-size: 13.5px;
        }
        .silex-id-1501619071371-11 {top: 20px; left: 40px; height: 40px; width: 189px; font-size: 16px;
        }
        .silex-id-1502818272059-1 {top: 60px; left: 60px; height: 20px; width: 140px; font-size: 16px;
        }
        .silex-id-1503363831117-2 {top: 20px; left: 20px; height: 60px; width: 20px; font-size: 17px; color: rgb(140, 140, 140);
        }
        .silex-id-1501622373405-0 {top: 20px; left: 240px; height: 60px; width: 220px; font-size: 13.5px;
        }
        .silex-id-1501618659400-2 > .CTATTable--row > .CTATTable--cell {width: 64.6667px; height: 24.6667px;
        }
        .silex-id-1501618659400-2 {top: 100px; left: 240px; height: 160px; width: 200px;
        }
        .silex-id-1503363288934-1 {top: 100px; left: 240px; height: 20px; width: 40px; font-size: 16px;
        }
        .silex-id-1501618800864-4 {top: 100px; left: 320px; height: 20px; width: 40px; background-position: 0% 0%; text-align: center; font-size: 16px;
        }
        .silex-id-1501618908959-5 {top: 100px; left: 380px; height: 20px; width: 40px; background-position: 0% 0%; text-align: center; font-size: 16px;
        }
        .silex-id-1501619831464-12 {top: 100px; left: 20px; height: 160px; width: 200px; font-size: 11px;
        }
        .silex-id-1504126948342-0 {top: 280px; left: 20px; height: 80px; width: 420px; box-sizing: content-box; padding: 0px; overflow: visible;
        }
    