{% extends "utl/base.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}
    <div class="container-fluid header"></div>
    <div class="container main">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="mx-auto text-primary text-center"><a class="navbar-link" href="#">CTAT Tutor Generator</a>
                </h1>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p class="descriptions text-center">
                    Welcome to CTAT Tutor Generator!
                </p>
                <p class="descriptions text-center">
                    Start create cognitive tutor for Python programing language <a href="upload">here</a>.
                </p>
                <p class="description mx-auto text-center">
                    Learn more about the generator and CTAT Tutor <a href="about">here</a>.
                </p>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p class="start text-center">
                    <a class="btn-primary btn btn-lg" href="upload">Start Here -></a>
                </p>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row footer">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p class="footer text-center">
                    Made with <span class="text-danger"><3</span> by <a href="http://keyang.xyz">Keyang Zheng</a> <br> Powered by <a class="text-success"
                                                                                                    href="https://www.djangoproject.com">Django</a>
                </p>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

{% endblock %}